.results__loading {
  grid-column: 1 / -1;
  width: 5rem;
  height: 5rem;
  margin: auto;
  animation: 1s infinite spin;
}

.results__loading--alt {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
